.info-jogo {
  background: #dedede;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  max-width: 90%;
  border-radius: 16px;
  color: #112e6b;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* impede cliques quando fechada */
}

.info-jogo.active {
  transform: translate(-50%, 0);
  opacity: 1;
  display: flex;
  pointer-events: auto; /* permite interações */
}

.titulo-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titulo-info button {
  padding: .15rem .5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: var(--fonte-cor);
  background: var(--fundo-botao-li);
  border-radius: 4px;
  cursor: pointer;
}

.info-jogo {
  text-align: left;
}

.info-jogo ul li {
  list-style: square inside;
  margin: .8rem;
}