body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url("../assets/img/fundo-jalabet.jpg") no-repeat center fixed;
  color: var(--fonte-cor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: var(--fundo-area-jogo);
  box-shadow: var(--sombreamento-celula);
  position: fixed;
  top: 0;
  padding: 1rem;
  align-items: center;
}

header .logo{
  display: flex;
  gap: .5rem;
  align-items: center;
}

header .logo div {
  width: 2.8rem;
  height: 2.8rem;
  background: #fff;
  border-radius: 50%;
}

header .logo i {
  font-size: 2.8rem;
}

header .logo a {
  font-size: 1.5rem;
  font-family: var(--tipo-fonte-logo), serif;
}

header ul {
  display: flex;
  gap: 3rem;
}

header ul li {
  background: var(--fundo-botao-li);
  padding: .4rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

header ul li:hover {
  background: #054182;
}

header ul li a {
  display: flex;
  align-items: center;
  gap: .5rem;
  /*color: #0c0d19;*/
  font-size: .85rem;
}

header ul li i {
  font-size: 1.45rem;
}

header a {
  color: var(--fonte-cor);
}

header .conta i {
  display: flex;
  font-size: 2.8rem;
}

.area-jogo {
  width: 70rem;
  max-width: 90%;
  position: relative;
  border: #efefef 1px solid;
  background: var(--fundo-area-jogo);
  border-radius: 16px;
  padding: 3%;
  box-shadow: var(--sombreamento-area-jogo);
}

.controle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.painel {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: var(--fonte-cor);
}

.item-painel {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background: var(--fundo-botao-painel);
  color: var(--fonte-cor);
  border: none;
  border-radius: 4px;
}

.item-painel:hover {
  background: #308733;
}

.item-painel > button i {
  margin-right: .25rem;
}

#tabuleiro {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  gap: .5rem;
  justify-content: center;
  margin-top: 2rem;
}

.celula {
  width: var(--tamanho-celula);
  height: var(--tamanho-celula);
  background: var(--fundo-celula);
  color: var(--fonte-cor);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--sombreamento-celula);
}

.celula:hover {
  background-color: #084a8b;
}

.estrela {
  background-color: var(--fundo-celula-estrela) !important;
}

.bomba {
  background-color: var(--fundo-celula-bomba) !important;
}

.revelada {
  background: #084a8b;
  transition: background-color 0.5s ease-in-out;
}

.item-painel label {
  color: var(--fonte-cor);
}

.item-painel select {
  width: 60px;
  border: none;
  border-bottom: white solid 1px;
  font-size: .9rem;
  text-align: center;
  color: var(--fonte-cor);
  outline-style: none;
  background: transparent;
}

.item-painel select option {
  color: #004a99;
}

.item-painel input:focus {}

#pontuacao {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  background: transparent;
  border: 1px solid;
  padding: .8rem 2rem;
  font-weight: 600;
  box-shadow: var(--sombreamento-celula);
}

footer {
  position: relative;
  bottom: -1rem;
  width: 100%;
  color: var(--fonte-cor);
  text-align: center;
  padding: 1.5rem;
  font-size: .9rem;
}