.modal-info-jogo {
  background: #dedede;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  max-width: 90%;
  border-radius: 16px;
  color: var(--fonte-cor-modal);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* impede cliques quando fechada */
  max-height: 80vh;
  overflow-y: auto; /* rolagem interna */
}

.modal-info-jogo.active {
  transform: translate(-50%, 0);
  opacity: 1;
  display: flex;
  pointer-events: auto; /* permite interações */
}

.titulo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titulo-info h2 {
  font-size: 1.8rem;
}

.titulo-info button {
  padding: .15rem .5rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: var(--fonte-cor-padrao);
  background: var(--fundo-botao-header);
  border-radius: 4px;
  cursor: pointer;
}

.modal-info-jogo {
  text-align: left;
}

.modal-info-jogo ol li {
  list-style: decimal inside;
  margin: .8rem;

}

.modal-info-jogo ul li {
  list-style: square inside;
  margin: .8rem;
}

.modal-info-jogo .sub-lista-niveis {
  margin-left: 2rem;
}

.modal-info-jogo .sub-lista-niveis li {
  list-style: none;
  margin: .25rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 800;
}

.modal-perguntas {
  display: none;
  position: fixed;
  width: 50rem;
  max-width: 90%;
  height: 20rem;
  max-height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../assets/img/fundo-perguntas.png") no-repeat center center scroll;
  background-size: cover;
  padding: 10%;
  border-radius: 8px;
  box-shadow: var(--sombreamento-celula);
  z-index: 1000;
}

.modal-perguntas-conteudo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.modal-perguntas-conteudo p {
  color: var(--fonte-cor-modal);
  font-size: 1.5rem
}

.botoes-resposta {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20%;
}

.botoes-resposta button {
  padding: .8rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--fonte-cor-modal);
  color: var(--fonte-cor-modal);
  cursor: pointer;
}

#resposta-falso:hover {
  background: #bc4d4d;
  color: var(--fonte-cor-padrao);
}

#resposta-verdadeiro:hover {
  background: #4CAF50;
  color: var(--fonte-cor-padrao);
}

.modal-content {
  background: #dedede;
  color: var(--fonte-cor-modal);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content button {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.modal-content button:hover {
  background: #218838;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #dedede;
  color: var(--fonte-cor-modal);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
